<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Starter</title>
    <th:block th:insert="~{fragments/styles}"/>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!--        call navbar-->
    <div th:replace="~{fragments/navbar}"></div>
    <!--        call side bar-->
    <div th:replace="~{fragments/left-sidebar}"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Article Management</h1>
                        <div sec:authorize="hasRole('USER')">Text visible to user.</div>
                        <div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
                        <div sec:authorize="hasRole('EDITOR')">Text visible to editor.</div>
                        <div sec:authorize="hasRole('REVIEWER')">Text visible to reviewer.</div>
                        <div sec:authorize="isAuthenticated()">
                            Text visible only to authenticated users.
                        </div>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{dashboard}">Home</a></li>
                            <li class="breadcrumb-item active">Article Management</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid" layout:fragment="mainContent">
                <!-- TODO: -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <th:block th:replace="~{fragments/scripts}"/>
</div>
<!-- ./wrapper -->
</body>
</html>
