<div xmlns:th="http://www.thymeleaf.org">
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <!-- Bootstrap 4 -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <!-- AdminLTE App -->
    <script th:src="@{/js/adminlte.min.js}"></script>
</div>