<div xmlns:th="http://www.thymeleaf.org">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/css/adminlte.min.css}">
</div>